# ignore cache
__pycache__/

#ignore configs
configs/.

#ignore outputfiles
sumo_simulation/sumo_elements/e2_output/*

#ignore video data
video_detection/data/*

#ignore yolo model
video_detection/yolo_model/*

#ignore outputs (from tracking simulation)
output.*